<!-- home.component.html -->

<div class="home-container">
  <!-- Overlay to darken the background image -->
  <div class="overlay"></div>

  <div class="home-content">
    <h1>Welcome to PallasWille</h1>
    <p>The Pallas's cat, also known as the manul, is a small wild cat
    with long and dense light grey fur, and rounded ears set low
    on the sides of the head. Its head-and-body length ranges from 46 to 65 cm (18 to 26 in) 
    űwith a 21 to 31 cm (8.3 to 12.2 in) long bushy tail. It is well camouflaged and adapted
     to the cold continental
    climate in its native range, which receives little rainfall and experiences...</p>
    <button>Learn More</button>
  </div>
</div>
